.banner .row, .know_more .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }

.banner .row .page-header a:hover, .know_more .row a:hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 10px 1px #9C9C9C;
  box-shadow: 1px 1px 10px 1px #9C9C9C;
  border-color: transparent; }

.banner .row .page-header a, .know_more .row a {
  font-size: 16px;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  width: 158px;
  display: inline-block; }

.know_more .row h2 {
  text-transform: uppercase;
  font-size: 46px;
  color: #4d4d4d; }

.know_more .row h2:before {
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #7a7a7a;
  margin-bottom: 13px; }

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%; }

header.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1; }
  header.container .navbar {
    margin-bottom: 0; }
    header.container .navbar .container-fluid .navbar-toggle {
      border: none;
      margin-top: 40px; }
      header.container .navbar .container-fluid .navbar-toggle:hover, header.container .navbar .container-fluid .navbar-toggle:focus {
        background-color: transparent; }
      header.container .navbar .container-fluid .navbar-toggle .icon-bar {
        background-color: #4d4d4d; }
  header.container .navbar-default {
    background-image: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: transparent; }
    header.container .navbar-default .navbar-collapse {
      border: none;
      padding: 0; }
    header.container .navbar-default .navbar-brand {
      height: auto;
      padding: 31px 0 15px; }
      @media screen and (max-width: 768px) {
        header.container .navbar-default .navbar-brand {
          margin-left: -10px; } }
      @media screen and (max-width: 415px) {
        header.container .navbar-default .navbar-brand {
          margin-left: 10px; } }
    header.container .navbar-default .navbar-nav {
      margin-bottom: 0; }
      header.container .navbar-default .navbar-nav li {
        padding: 30px 20px 0; }
        header.container .navbar-default .navbar-nav li a {
          padding: 0 0 4px;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          color: #4d4d4d;
          font-size: 16px; }
          header.container .navbar-default .navbar-nav li a:focus {
            border-bottom: 2px solid #878787;
            text-transform: capitalize; }

.banner {
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 9px; }
  .banner .row .page-header {
    border: none; }
    .banner .row .page-header h1 {
      font-size: 90px;
      margin-bottom: 30px; }
      .banner .row .page-header h1 small {
        display: block;
        font-size: 22px; }
    .banner .row .page-header a:first-of-type {
      margin-right: 20px; }
  .banner .row img {
    width: 100%; }

.know_more {
  padding: 109px 0 126px; }
  @media screen and (max-width: 768px) {
    .know_more .row {
      justify-content: center; } }
  .know_more .row h2 {
    line-height: 50px; }
  .know_more .row p {
    font-size: 16px;
    line-height: 26px;
    color: #4d4d4d;
    margin-bottom: 37px; }
  .know_more .row a {
    width: 245px; }
  .know_more .row img {
    width: 100%; }
    @media screen and (max-width: 768px) {
      .know_more .row img {
        margin: 15px 0; } }

/*# sourceMappingURL=style.css.map */
