$main_color: #4d4d4d;
$bg_color: #f6f6f6;
%flex{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

%button_hover {
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 10px 1px #9C9C9C;
  box-shadow: 1px 1px 10px 1px #9C9C9C;
  border-color: transparent;
}

%button{
  font-size: 16px;
  color: $main_color;
  border: 1px solid $main_color;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 48px;
  width: 158px;
  display: inline-block;
  &:hover{
    @extend %button_hover;
  }
}

%line_above{
  content: "";
  display: block;
  height: 4px;
  width: 60px;
  background-color: #7a7a7a;
  margin: auto;
  margin-bottom: 13px;
}
%section_headline{
  text-transform: uppercase;
  font-size: 46px;
  color: $main_color;
  text-align: center;

  &:before{
    @extend %line_above;
  }
}
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

header.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  .navbar {
    margin-bottom: 0;

    .container-fluid {
      .navbar-toggle {
        border: none;
        margin-top: 40px;

        &:hover,
        &:focus {
          background-color: transparent;
        }

        .icon-bar {
          background-color: $main_color;
        }
      }
    }
  }

  .navbar-default {
    background-image: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    background-color: transparent;

    .navbar-collapse {
      border: none;
      padding: 0;
    }

    .navbar-brand {
      height: auto;
      padding: 31px 0 15px;

      @include max-screen(768px) {
        margin-left: -10px;
      }

      @include max-screen(415px) {
        margin-left: 10px;
      }
    }

    .navbar-nav {
      margin-bottom: 0;

      li {
        padding: 30px 20px 0;
        a {
          padding: 0 0 4px;
          text-transform: uppercase;
          border-bottom: 2px solid transparent;
          color: $main_color;
          font-size: 16px;

           &:focus {
            border-bottom: 2px solid #878787;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.banner{
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 101px;
  padding-bottom: 9px;
  .row {
    @extend %flex;
    .page-header {
      border: none;
      h1 {
        font-size: 90px;
        margin-bottom: 30px;

        small {
          display: block;
          font-size: 22px;
        }
      }

      a{
        @extend %button;

        &:first-of-type{
          margin-right: 20px;
        }
      }
    }

    img{
      width: 100%;
    }
  }
}

.know_more{
    padding: 109px 0 126px;
  .row{
    @extend %flex;
    @include max-screen(768px){
      justify-content: center;
    }
    h2{
      @extend %section_headline;
      line-height: 50px;
      text-align: left;
      &:before{
        margin: 0 0 13px;
      }
    }

    p{
      font-size: 16px;
      line-height: 26px;
      color: $main_color;
      margin-bottom: 37px;
    }

    a{
      @extend %button;
      width: 245px;
    }

    img{
      width: 100%;
      @include max-screen(768px){
        margin: 15px 0;
      }
    }
  }
}

.services{
  padding: 110px 0 120px;
  background-color: $bg_color;
  h2 {
    @extend %section_headline;
  }

  .row{
    text-align: center;
    &:nth-of-type(2){
      display: flex;
      align-items: flex-end;
      @include max-screen(768px){
        display: inherit;
      }
    }
    &:last-of-type{
      margin-top: 25px;
      @include max-screen(768px){
        margin-top: 0;
      }
    }
    .col-sm-12 {
      margin-top: 50px;
      p {
        font-size: 24px;
        line-height: 30px;
        margin: 15px 0 0;
      }
    }
  }
}

.skills{
  padding: 108px 0 125px;
  h2 {
    @extend %section_headline;
    margin-bottom: 50px;
  }

  img{
    display: block;
    margin: auto;
    width: 100%;

    @include max-screen(768px){
      padding: 0 10px;
    }
  }
}
